@{
    ViewData["Title"] = "Головна";

}

<div class="container_main">
    <div class="hello-block">
        <div class="hello-block__text" style="z-index: 2;position: relative;">
            <h1 class="header">
                Bookhub - книжки українською онлайн
            </h1>
            <h2>Систематизація любительських переводів раноб і лайт-новелл</h2>
        </div>
    </div>
</div>